# Tests
coverage
junit

# Build artifacts
dist

# NPM
node_modules

# Logs
*.log
yarn-debug.log*
yarn-error.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Caches
*.tsbuildinfo
.npm
.eslintcache
.node_repl_history

# Other
*.tgz
.yarn-integrity
